<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>OIDC Provider</title>

	<link href="https://cdn.jsdelivr.net/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
			data-th-href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>

	<style>
		body {
			padding-top: 50px;
		}

		pre {
			white-space: pre-wrap;
		}

		.content {
			padding: 40px 15px;
		}
	</style>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
					aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#" data-th-href="@{/web}">OIDC Provider</a>
		</div>
		<div id="navbar" class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li><a href="#" data-th-href="@{/web}">Home</a></li>
				<li class="active"><a href="#" data-th-href="@{/web/keys}">Keys</a></li>
				<li><a href="#" data-th-href="@{/web/clients}">Clients</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
						<span data-th-text="${#authentication.name}">username</span> <span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li>
							<form method="post" class="navbar-form" data-th-action="@{/logout}">
								<button type="submit" class="btn btn-default">Sign out</button>
							</form>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>
<div class="container">
	<div class="content">
		<h4>Active Key</h4>
		<pre class="small" data-th-text="${activeKey}"></pre>

		<h4>Inactive Keys</h4>
		<pre class="small pre-scrollable" data-th-text="${inactiveKeys}"></pre>

		<form action="#" method="post" class="form-horizontal" data-th-action="@{/web/keys/rotate}">
			<button class="btn btn-warning">Rotate Keys</button>
		</form>
	</div>
</div>
<script src="https://cdn.jsdelivr.net/jquery/1.11.0/jquery.min.js"
		data-th-src="@{/webjars/jquery/jquery.min.js}"></script>
<script src="https://cdn.jsdelivr.net/bootstrap/3.3.7/js/bootstrap.min.js"
		data-th-src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>
