<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
		th:lang="${#locale.language}">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Sign out</title>

	<link href="https://cdn.jsdelivr.net/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
			th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>

	<style>
		body {
			padding-top: 40px;
			padding-bottom: 40px;
		}

		.form-signout {
			max-width: 330px;
			padding: 15px;
			margin: 0 auto;
		}

		.form-signout .form-signout-heading,
		.form-signout {
			margin-bottom: 10px;
		}

		.form-signout {
			font-weight: normal;
		}

		.alert {
			margin-top: 10px;
		}
	</style>
</head>

<body>
<div class="container">
	<div class="form-signout">
		<form action="#" method="post" th:action="@{/logout}">
			<h2 class="form-signout-heading">Sign out?</h2>
			<input type="hidden" name="post_logout_redirect_uri" th:value="${redirectURI}" th:if="${redirectURI != null}">
			<input type="hidden" name="state" th:value="${state}" th:if="${state != null}">
			<button class="btn btn-lg btn-primary btn-block">Yes</button>
			<a href="#" class="btn btn-lg btn-default btn-block" th:href="@{/}">No</a>
		</form>

		<div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}">Error</div>
	</div>
</div>
</body>
</html>
