<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>OIDC Provider</title>
</head>
<body onload="document.forms[0].submit()">
<form method="post" data-th-action="${authResponse.redirectionURI}">
	<input type="hidden" name="code" data-th-if="${authResponse.authorizationCode != null}"
			data-th-value="${authResponse.authorizationCode}"/>
	<input type="hidden" name="access_token" data-th-if="${authResponse.accessToken != null}"
			data-th-value="${authResponse.accessToken}"/>
	<input type="hidden" name="id_token" data-th-if="${authResponse.iDToken != null}"
			data-th-value="${authResponse.iDToken.serialize()}"/>
	<input type="hidden" name="state" data-th-if="${authResponse.state != null}" data-th-value="${authResponse.state}"/>
	<input type="hidden" name="session_state" data-th-if="${authResponse.sessionState != null}"
			data-th-value="${authResponse.sessionState}"/>
</form>
</body>
</html>
